[Desktop Entry]
Type=Application
Version=0.59
Name=UEFITool 0.59
Comment=UEFI firmware image viewer and editor
Exec=UEFITool
Icon=uefitool
Terminal=false
Categories=Development;System;Utility;HardwareSettings;Electronics;Engineering;
Keywords=BIOS;
